<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Listing Page</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <!-- Load bootstrap css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <%- include('partials/header') %>
    <div class="container listings-container">
      <h1 class="my-4">Listing Page</h1>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <% listings.forEach((listing) => { %>
        <div class="col">
          <div
            class="card h-100"
            data-itemid="<%= listing.id %>"
            data-userid="<%= listing.user_id %>"
          >
            <img
              src="https://picsum.photos/300/200"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title"><%= listing.title %></h5>
              <p class="card-text"><%= listing.description %></p>
              <p class="card-text"> <b>Price:</b> $<%= listing.price / 100 %></p>
              <p class="card-text">
                <small class="text-muted"
                  >Posted <%= listing.posted_at %></small
                >
                <button class="btn btn-link favorite-button">
                  <i class="fas fa-heart"></i>
                </button>
                <!-- message admin button -->
                <% if (!user.admin){ %>
                  <form method="GET" action="/message/<%= listing.title %>">
                    <input type="hidden" name="senderId" value="<%= listing.user_id %>">
                    <button class="btn btn-success" type="submit">Send Message</button>
                  </form>
                  <button><i class="fas fa-trash-alt deletebutton"></i> Delete</button>
                <% } else if (user.admin) { %>
                  <form method="GET" action="/message/select/<%= listing.title %>">
                    <button class="btn btn-success" type="submit">View Messages</button>
                  </form>
                  <button><i class="fas fa-trash-alt deletebutton"></i> Delete</button>
                <% } %>
              </p>
            </div>
          </div>
        </div>
        <% }) %>
        <!--
        <div class="col">
          <div class="card h-100">
            <img
              src="https://picsum.photos/300/200"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Item Title</h5>
              <p class="card-text">Item Description</p>
              <p class="card-text">
                <small class="text-muted">Posted 2 weeks ago</small>
                <button
                  class="btn btn-link favorite-button"
                  title="Add to your Favourites!"
                >
                  <i class="fas fa-heart"></i>
                </button>
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img
              src="https://via.placeholder.com/350x200"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Item Title</h5>
              <p class="card-text">Item Description</p>
              <p class="card-text">
                <small class="text-muted">Posted 3 weeks ago</small>
                <button class="btn btn-link favorite-button">
                  <i class="fas fa-heart"></i>
                </button>
              </p>
            </div>
          </div>
        </div>-->
      </div>
      <!-- Pagination -->
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true"
              >Previous</a
            >
          </li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.1/js/bootstrap.min.js"></script>
    <script src="/scripts/favouriteButton.js"></script>
  </body>
  <%- include('partials/footer') %>
</html>
